@import url("styles/header.css");

:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
}
